
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_HomePageLayoutPage.cshtml";
}

<!-- Container -->
<div class="content-wrap">

    <div id="resume" class="inner-content">

        <section id="page-title" class="inner-section">
            <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.2s" data-wow-offset="10">
                <h2 class="font-accident-two-normal uppercase">CAREER</h2>
                <h5 class="font-accident-one-bold hovercolor uppercase">Hard-working person on the way to the success...</h5>
                <p class="small fontcolor-medium">
                    저는 고등학교를 졸업과 동시에 취업을 하여 지금까지 성실하게 일을 하면서 제가 노력 할 수 있는 부분에선 늘 노력하여 발전했습니다. <br>
                    아래 기록들은 CNC선반 가공에서 시작하여 반도체 생산 그리고 개발자 까지의 길을 꿈꾸는 저의 경력을 기록했습니다 .
                </p>
                <div class="dividewhite2"></div>
            </div>
        </section>

        <!-- Details Block -->
        @*<section id="m-details" class="inner-section color01">

                <div class="container-fluid nopadding">

                    <div class="wow fadeInDown" data-wow-delay="0.4s" data-wow-offset="10">
                        <h3 class="font-accident-two-normal uppercase text-center">Personal qualities</h3>
                        <p class="small text-center fontcolor-medium">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id metus purus.
                        </p>
                        <div class="dividewhite4"></div>
                    </div>



                    <div class="row">
                        <div class="col-md-3 infoblock text-center wow fadeInLeft" data-wow-delay="0.6s" data-wow-offset="10">
                            <div class="row">
                                <div class="col-md-12"><i class="flaticon-photo246"></i></div>
                                <div class="col-md-12">
                                    <div class="dividewhite1"></div>
                                    <h5 class="font-accident-one-bold uppercase">Creative</h5>
                                    <p class="small">
                                        For extreme size changes, we may want to change the layout altogether, either through a
                                        separate style sheet or, more efficiently, through a CSS media query.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>
                        <div class="col-md-3 infoblock text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
                            <div class="row">
                                <div class="col-md-12"><i class="flaticon-pie-graph"></i></div>
                                <div class="col-md-12">
                                    <div class="dividewhite1"></div>
                                    <h5 class="font-accident-one-bold uppercase">Self-motivated</h5>
                                    <p class="small">
                                        It is possible to shrink things proportionally and rearrange elements as necessary to make
                                        everything fit (reasonably well) as a screen gets smaller.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>
                        <div class="col-md-3 infoblock text-center wow fadeInUp" data-wow-delay="0.6s" data-wow-offset="10">
                            <div class="row">
                                <div class="col-md-12"><i class="flaticon-clocks18"></i></div>
                                <div class="col-md-12">
                                    <div class="dividewhite1"></div>
                                    <h5 class="font-accident-one-bold uppercase">Punctual</h5>
                                    <p class="small">
                                        Below we have a few examples of responsive Web design in practice today. For many of these
                                        websites, there is more variation.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>
                        <div class="col-md-3 infoblock text-center wow fadeInRight" data-wow-delay="0.6s" data-wow-offset="10">
                            <div class="row">
                                <div class="col-md-12"><i class="flaticon-stats47"></i></div>
                                <div class="col-md-12">
                                    <div class="dividewhite1"></div>
                                    <h5 class="font-accident-one-bold uppercase">Multitask</h5>
                                    <p class="small">
                                        One major problem that needs to be solved with responsive Web design is working with images.
                                        There are a number of techniques.
                                    </p>
                                </div>
                            </div>
                            <div class="divider-dynamic"></div>
                        </div>
                    </div>

                    <div class="dividewhite2"></div>

                </div>

            </section>*@
        <!-- /§Details Block -->
        <!-- Timeline Block -->
        <section id="timeline-vertical" class="inner-section">

            <div class="container-fluid nopadding">

                <div class="text-center wow fadeInDown" data-wow-delay="0.6s" data-wow-offset="10">
                    <h3 class="font-accident-two-normal uppercase">Professional Timeline</h3>
                    <h5 class="font-accident-one-bold uppercase hovercolor">Working hard and making the success</h5>
                    <div class="dividewhite1"></div>
                    <p class="small fontcolor-medium">
                        Customize your website as you want using different colors and 100% free fonts. Build it from pieces and
                        blocks as simple as Lego. <br>
                        Electronic Website Template is fully responsive, looks and works perfect on any device.
                    </p>
                </div>

                <div class="dividewhite4"></div>

                <ul class="timeline-vert timeline-light">
                    <li>
                        <div class="timeline-badge primary"><i class="flaticon-clocks18"></i></div>
                        <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                            <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> 2015-08 ~ 2016-03</p>
                            <div class="timeline-photo timeline-bg05-01"></div>
                            <div class="timeline-heading">
                                <h3 class="font-accident-two-normal uppercase">(주)씨에스테크</h3>
                                <h6 class="uppercase">고등학교 시절 전국 기능경기 대회 입상을 목표로 3년 동안 배우고 실습하여 취업 한<br>저의 첫번째 회사 입니다. 이곳에선 CNC선반 으로 G코드를 사용하여 공작물을 가공하는 업무를 했습니다. </h6>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="flaticon-graduation61"></i></div>
                        <div class="timeline-panel wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10">
                            <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> 2016-04 ~ 2018-12</p>
                            <div class="timeline-photo timeline-bg06-01"></div>
                            <div class="timeline-heading">
                                <h3 class="font-accident-two-normal uppercase">(주)태인</h3>
                                <h6 class="uppercase">기능반 생활과 간단한 공업 지식을 배경으로 입사하여 산업기능 요원으로 복무한 회사입니다. <br> 이곳에서는 Ram 모듈 생산 , STM Line Maintenance 업무를 했습니다. </h6>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="flaticon-pens15"></i></div>
                        <div class="timeline-panel wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="10">
                            <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> 2018-12 ~ 2022-01</p>
                            <div class="timeline-photo timeline-bg01-01"></div>
                            <div class="timeline-heading">
                                <h3 class="font-accident-two-normal uppercase">(주)에이엠에스티</h3>
                                <h6 class="uppercase">반도에 회사에서 경력과 지식을 쌓아 입사한 수원에 위치한 Probe Card를 생산하는 회사입니다.<br> 이곳에서는 청주SK Hynix 에 상주하며 Probe 카드 Maintenance 업무를 했습니다. 처음으로 프로그램을 접하고 관심을 가지게 해준 회사입니다.</h6>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted info">
                        <div class="timeline-badge warning"><i class="flaticon-profile5"></i></div>
                        <div class="timeline-panel wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="10">
                            <p class="timeline-time fontcolor-invert"><i class="glyphicon glyphicon-time"></i> 2022-08 ~ 2023-09</p>
                            <div class="timeline-photo timeline-bg07-01"></div>
                            <div class="timeline-heading">
                                <h3 class="font-accident-two-normal uppercase">휴먼시스템</h3>
                                <h6 class="uppercase">충북대 융합기술원 개발자 과정을 수료하고 연계하여 개발자로써 처음 입사한 회사입니다. <br>이곳에서는 국가 지원사업 스마트 공방 , 스마트 공장 등등 관련 사업을 진행 . MES프로그램을 개발하였습니다.</h6>
                            </div>
                        </div>
                    </li>

                </ul>

                <div class="text-center">
                    <a href="#" class="btn btn-lgr-str">처음으로</a>
                </div>

                <div class="dividewhite6"></div>

            </div>

        </section>
        <!-- /Timeline Block -->

    </div>

</div>